.content__about {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 4;
    transition: height 1s;
    margin: 20vh 30vw 20vh 10vw;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.1);
    
    .content {
        padding: 25px;
        height: 100%;
        max-height: 100%;
        overflow: auto;

        h1 {
            font-family: 'duke_fillfill', sans-serif;
            color: #1b1464;
            font-size: 56px;
            text-transform: uppercase;
        }
    }
}