html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}

@font-face {
    font-family: 'duke_fillfill';
    src: url('./../fonts/duke_fill-webfont.woff2') format('woff2'),
         url('./../fonts/duke_fill-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    padding: 0;
    margin: 0;
    display: block;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
    font-size: 100%;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
    padding: 0;
    margin: 0;
    display: block;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background: #befcf7;
    background: -moz-linear-gradient(top, #befcf7 50%, #5bd2ff 100%);
    background: -webkit-linear-gradient(top, #befcf7 50%,#5bd2ff 100%);
    background: linear-gradient(to bottom, #befcf7 50%,#5bd2ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#befcf7', endColorstr='#5bd2ff',GradientType=0 );
}

b.cloud {
    display: block;
    position: fixed;
    width: 300px;
    height: 200px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center; 
    z-index: 1;

    &:nth-child(1) {
        background-image: url(./../images/cloud_1.png);
        -webkit-animation: animateCloud 45s linear infinite;
        -moz-animation: animateCloud 45s linear infinite;
        animation: animateCloud 45s linear infinite;
        animation-delay: -50s;
        
        -webkit-transform: scale(0.65);
        -moz-transform: scale(0.65);
        transform: scale(0.65);
        top: 40px;
    }

    &:nth-child(2) {
        background-image: url(./../images/cloud_2.png);
        -webkit-animation: animateCloud 30s linear infinite;
        -moz-animation: animateCloud 30s linear infinite;
        animation: animateCloud 30s linear infinite;
        animation-delay: -50s;
        
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        transform: scale(0.3);
        top: 10px;
    }

    &:nth-child(3) {
        background-image: url(./../images/cloud_3.png);
        -webkit-animation: animateCloud 40s linear infinite;
        -moz-animation: animateCloud 40s linear infinite;
        animation: animateCloud 40s linear infinite;
        animation-delay: -50s;
        
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        transform: scale(0.5);
        top: 30px;
    }

    &:nth-child(4) {
        background-image: url(./../images/cloud_1.png);
        -webkit-animation: animateCloud 38s linear infinite;
        -moz-animation: animateCloud 38s linear infinite;
        animation: animateCloud 38s linear infinite;
        animation-delay: -50s;
        
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        transform: scale(0.4);
        top: 0px;
    }

    &:nth-child(5) {
        -webkit-animation: animateCloud 35s linear infinite;
        -moz-animation: animateCloud 35s linear infinite;
        animation: animateCloud 35s linear infinite;
        animation-delay: -50s;
        
        -webkit-transform: scale(0.55);
        -moz-transform: scale(0.55);
        transform: scale(0.55);
        top: 100px;
    }

    &:nth-child(6) {
        background-image: url(./../images/cloud_3.png);
        -webkit-animation: animateCloud 68s linear infinite;
        -moz-animation: animateCloud 68s linear infinite;
        animation: animateCloud 68s linear infinite;
        animation-delay: -50s;
        
        -webkit-transform: scale(0.55);
        -moz-transform: scale(0.55);
        transform: scale(0.55);
        top: 70px;
    }
}

.background__land {
    position: relative;
    overflow: hidden;
    display: block;
    min-width: 100%;
    width: calc(100% + 120vw);
    height: 10%;
    min-height: 80px;
    background-color: #f7ce6b;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 166vw;
        height: 120px;
        background-image: url(./../images/building_shadow.png);
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1000;
        margin-left: 11.5vw;

        -webkit-animation: onload 1.5s ease-in-out;
        -moz-animation: onload 1.5s ease-in-out;
        animation: onload 1.5s ease-in-out;
    }
}

#larr__arrow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    z-index: 10000;
    
    svg {
        position: absolute;
        right: 0;
        top: calc(50% - 40px);
        height: 50px;
        opacity: 0.1;
        transition: opacity .2s ease-in-out;
    }

    &:hover svg {
        opacity: 1;
    }
}

#rarr__arrow {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    z-index: 10000;
    
    svg {
        position: absolute;
        right: 0;
        top: calc(50% - 40px);
        height: 50px;
        opacity: 0.1;
        transition: opacity .2s ease-in-out;
    }

    &:hover svg {
        opacity: 1;
    }
}