.content__rooftop-bar {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 4;
    transition: height 1s;
    margin: 20vh 20vw;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.1);
}